/* table {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #51adcf;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #51adcf;
  border-collapse: collapse;
} */

@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase
}
.brand {height: 25px;}

.navbar .nav {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem
}

.navbar-inverse {
  background-color: #0A81D1
}

.navbar-inverse {
  border-color: #0A81D1
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
  color: white;
}
